In [1]:
import pandas as pd

In [2]:
pd.read_excel("ma.xlsx", sheet_name='sheet1')

          value    5ma_excel  5ma_python  10ma_python
0   2943.030029          NaN         NaN          NaN
1   2945.830078          NaN         NaN          NaN
2   2923.729980          NaN         NaN          NaN
3   2917.520020          NaN         NaN          NaN
4   2945.639893  2935.150000         NaN          NaN
5   2932.469971  2933.037988         NaN          NaN
6   2884.050049  2920.681983         NaN          NaN
7   2879.419922  2911.819971         NaN          NaN
8   2870.719971  2902.459961         NaN          NaN
9   2881.399902  2889.611963         NaN          NaN
10  2811.870117  2865.491992         NaN          NaN
11  2834.409912  2855.563965         NaN          NaN
12  2850.959961  2849.871973         NaN          NaN
13  2876.320068  2850.991992         NaN          NaN
14  2859.530029  2846.618017         NaN          NaN
15  2840.229980  2852.289990         NaN          NaN
16  2864.360107  2858.280029         NaN          NaN
17  2856.270020  2859.342041         NaN          NaN
18  2822.239990  2848.526025         NaN          NaN
19  2826.060059  2841.832031         NaN          NaN

In [3]:
df = pd.read_excel("ma.xlsx", sheet_name='sheet1')

In [4]:
df.head()

         value  5ma_excel  5ma_python  10ma_python
0  2943.030029        NaN         NaN          NaN
1  2945.830078        NaN         NaN          NaN
2  2923.729980        NaN         NaN          NaN
3  2917.520020        NaN         NaN          NaN
4  2945.639893    2935.15         NaN          NaN

In [5]:
df["value"]

0     2943.030029
1     2945.830078
2     2923.729980
3     2917.520020
4     2945.639893
5     2932.469971
6     2884.050049
7     2879.419922
8     2870.719971
9     2881.399902
10    2811.870117
11    2834.409912
12    2850.959961
13    2876.320068
14    2859.530029
15    2840.229980
16    2864.360107
17    2856.270020
18    2822.239990
19    2826.060059
Name: value, dtype: float64

In [6]:
value = list(df["value"])

In [7]:
for i in range(4, len(value)):
    temp = 0
    for j in range(0, 5):
        temp = temp + value[i-j]
#     df.iloc[i][2] = int(temp/5)
    print(str(int(value[i])) +": "+ str(int(temp/5)))

2945: 2935
2932: 2933
2884: 2920
2879: 2911
2870: 2902
2881: 2889
2811: 2865
2834: 2855
2850: 2849
2876: 2850
2859: 2846
2840: 2852
2864: 2858
2856: 2859
2822: 2848
2826: 2841

In [ ]:
def ma_calc(data, 5)

In [8]:
def abc(a, b, c):
    return a+b+c

In [9]:
abc(1, 2, 3)

6