In [5]:
import pandas as pd

In [9]:
train_label = pd.read_csv("strategy_results_train_v1.csv")

In [15]:
train_label.iloc[0, 0].split("_")

['SHSE.600085', '201501']

In [19]:
company     = train_label.iloc[0, 0].split("_")[0]
select_date = train_label.iloc[0, 0].split("_")[1]

In [18]:
daily = pd.read_excel("daily_trading_info_train.xlsx", sheet_name=None)

In [21]:
daily[company].head()

   Unnamed: 0       date       open       high        low      close   volume
0           0 2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1           1 2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2           2 2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3           3 2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4           4 2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841

In [22]:
daily[company].iloc[0, 1]

Timestamp('2014-01-02 00:00:00')

In [24]:
daily[company].iloc[0, 1].day

2

In [28]:
daily[company].iloc[0, 1].month

1

In [26]:
daily[company].iloc[0, 1].year

2014

In [30]:
int(select_date[:4])

2015

In [31]:
int(select_date[4:])

1

In [35]:
daily[company].shape

(1220, 7)

In [38]:
result = []
result.append(daily[company].iloc[0])

In [41]:
result[0].close

21.45999908447266

In [44]:
result = []

for i in range(0, daily[company].shape[0]):
    if(daily[company].iloc[i, 1].year==2014)and\
    (daily[company].iloc[i, 1].month==12):
        result.append(daily[company].iloc[i])

In [46]:
pd.DataFrame(result)

,Unnamed: 0,date,open,high,low,close,volume
222,222,2014-12-01,19.969999,20.850000,19.760000,20.540001,25435934
223,223,2014-12-02,20.540001,20.780001,20.360001,20.559999,14312930
224,224,2014-12-03,20.520000,21.200001,20.430000,20.830000,18802229
225,225,2014-12-04,20.900000,22.360001,20.900000,21.840000,25007684
226,226,2014-12-05,21.879999,22.250000,20.700001,22.230000,27991813
227,227,2014-12-08,22.070000,22.500000,21.500000,22.180000,29103732
228,228,2014-12-09,22.500000,22.500000,21.250000,21.680000,35371851
229,229,2014-12-10,21.610001,22.950001,21.610001,22.680000,24974362
230,230,2014-12-11,22.700001,22.700001,21.799999,22.120001,16503557
231,231,2014-12-12,22.110001,22.270000,21.830000,22.110001,14895156
232,232,2014-12-15,22.000000,22.240000,21.600000,22.120001,14812740
233,233,2014-12-16,22.000000,22.030001,21.610001,21.820000,12440352
234,234,2014-12-17,21.790001,21.900000,21.290001,21.629999,14521991
235,235,2014-12-18,21.559999,22.059999,21.549999,21.780001,10874573
236,236,2014-12-19,21.740000,21.860001,21.450001,21.760000,11122892
237,237,2014-12-22,21.760000,21.760000,20.600000,20.990000,19501687
238,238,2014-12-23,21.000000,21.340000,20.500000,21.070000,11382727
239,239,2014-12-24,20.879999,21.400000,20.760000,21.150000,8894690
240,240,2014-12-25,21.100000,21.540001,21.000000,21.299999,9592848
241,241,2014-12-26,21.280001,21.379999,20.500000,20.910000,15902362
242,242,2014-12-29,20.900000,21.500000,20.610001,21.049999,13618818
243,243,2014-12-30,20.900000,22.090000,20.799999,22.049999,25457468
244,244,2014-12-31,22.010000,22.650000,21.760000,22.430000,20177818