In [2]:
from sklearn.preprocessing import StandardScaler

In [10]:
data = [[0, 0], [0, 1], [1, 1], [1, 1]]

In [11]:
import pandas as pd

In [12]:
pd.DataFrame(data)

   0  1
0  0  0
1  0  1
2  1  1
3  1  1

In [7]:
scaler = StandardScaler()

In [13]:
scaler.fit(data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
scaler.mean_

array([0.5 , 0.75])

In [16]:
pd.DataFrame(scaler.transform(data))

     0         1
0 -1.0 -1.732051
1 -1.0  0.577350
2  1.0  0.577350
3  1.0  0.577350

In [17]:
from sklearn.datasets import load_iris

In [18]:
iris = load_iris()

In [19]:
X , y = iris.data, iris.target

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

In [26]:
clf = SVC()
scores = cross_val_score(clf, X, y, cv=5)

In [29]:
scores

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

In [30]:
scores.mean()

0.9666666666666666

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [33]:
X2 = scaler.transform(X)

In [35]:
clf = SVC()
scores = cross_val_score(clf, X2, y, cv=5)

In [36]:
scores

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

In [37]:
scores.mean()

0.9666666666666666