In [1]:
import talib
import numpy as np
import pandas as pd
from talib.abstract import *

In [3]:
aapl = pd.read_csv("AAPL.csv")

In [4]:
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-13,187.710007,189.479996,182.850006,185.720001,183.529678,57430600
1,2019-05-14,186.410004,189.699997,185.410004,188.660004,186.434998,36529700
2,2019-05-15,186.270004,191.750000,186.020004,190.919998,188.668335,26544700
3,2019-05-16,189.910004,192.470001,188.839996,190.080002,187.838257,33031400
4,2019-05-17,186.929993,190.899994,186.759995,189.000000,186.770996,32879100

In [11]:
op  = aapl["Open"].to_numpy()
hi  = aapl["High"].to_numpy()
lo  = aapl["Low"].to_numpy()
adc = aapl["Adj Close"].to_numpy()
vol = aapl["Volume"].to_numpy()

In [13]:
inputs = {
    'open': op,
    'high': hi,
    'low': lo,
    'close': adc,
    'volume': vol
}

In [17]:

out_sma = SMA(inputs, timeperiod=5) # calculate on close prices by default
out_open_sma = SMA(inputs, timeperiod=25, price='open') # calculate on opens

In [21]:
out1 = pd.DataFrame(out_sma, columns=["sma_5"])

In [22]:
out2 = pd.DataFrame(out_open_sma, columns=["out_open_sma"])

In [26]:
pd.concat([aapl, out1, out2], axis=1).to_excel("sma.xlsx")

In [ ]:
pd.read_csv("AAPL.csv")

In [29]:
input_sma = pd.read_excel("sma.xlsx")

In [47]:
y = input_sma.dropna()["label"]

In [52]:
X = input_sma.dropna().drop(["Date",'label',"lnR"], axis=1)

In [53]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
X.shape

(226, 8)

In [59]:
y_train = y.iloc[:200]
y_test  = y.iloc[200:]
X_train = X.iloc[:200, :]
X_test  = X.iloc[200:, :]

In [60]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [69]:
pd.concat([pd.DataFrame(clf.predict(X_train)), pd.DataFrame(clf.predict(X_test))], axis = 0).to_excel("result.xlsx")

In [64]:
pd.DataFrame(clf.predict(X_train))

       0
0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
..   ...
195  1.0
196  0.0
197  1.0
198  0.0
199  0.0

[200 rows x 1 columns]