In [5]:
num = 10
if(num%2 == 0):
    print(num, "a")
    if(num > 0):
        print(num, "b")
    else:
        print(num, "d")
else:
    print(num, "c")

10 a
10 b

In [6]:
for num in range(5, 7):
    if(num%2 == 0):
        print(num, "a")
        if(num > 0):
            print(num, "b")
        else:
            print(num, "d")
    else:
        print(num, "c")

5 c
6 a
6 b

In [10]:
for num in range(5, 7):
    num = num +10
    if(num%2 == 0):
        print(num, "a")
        if(num > 0):
            print(num, "b")
        else:
            print(num, "d")
    else:
        break
        print(num, "c")

In [13]:
numA = 10
numB = 3
((numA%2!=0)or(numB/3==1))and(numA/numB >0)

True

In [14]:
(10*2)*(5+1)

120

In [15]:
1and(numA/numB >0)

True

In [21]:
bool(0)and(numA/numB >0)

False

In [18]:
bool(1)

True

In [19]:
bool(0)

False

In [26]:
for i in range(1, 5):
    print(i*"*")

*
**
***
****

In [36]:
def looptest(num):
#     num = 0
    while(True):    
        print("a")
        if(num==10):
            break
        num = num + 1

In [37]:
num = 0
looptest(3)

a
a
a
a
a
a
a
a

In [29]:
num = 0
while(True):    
    print("a")
    if(num==10):
        break
    num = num + 1

a
a
a
a
a
a
a
a
a
a
a

In [41]:
pd.DataFrame([1, 5, [2, [6, 8]]])

             0
0            1
1            5
2  [2, [6, 8]]

In [39]:
import pandas as pd